<html>
    <section id="wordstat">
        img(
            class="img-background",
            src="./assets/images/background.webp", 
            loading="lazy"
        )
        img(
            class="img-background",
            src="./assets/images/background.webp", 
            loading="lazy"
        )
        <div class="section-name gradient-border">
            <div class="faq__number section-name__index">
                img(
                    class="img-icon",
                    src="./assets/images/yandex-wordstat.svg", 
                    loading="lazy"
                )
            </div>
            <div class="section-name__text-wrapper gradient-border">
                <div class="section-name__text">По данным Яндекс Вордстат</div>
            </div>
        </div>
        <p class="p-count">
            img(class="img-separator", src="./assets/images/separator.svg", loading="lazy")
            | 1
            img(class="img-separator", src="./assets/images/separator.svg", loading="lazy")
            | 000
            img(class="img-separator", src="./assets/images/separator.svg", loading="lazy")
            | 000 <sup>+</sup>
            img(class="img-separator", src="./assets/images/separator.svg", loading="lazy")
        </p>
        <p class="p-text">человек ищет дизайнера <br><span>в&nbsp;России&nbsp;каждый месяц</span></p>
        <div class="div-pillars">




            <div class="div-floater">
                <p class="p-floater-title">Новосибирск</p>
                <div class="div-floater-inner">
                    <p class="p-floater">100k</p>
                    <div class="div-progress" data-progress=0.7>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                img(class="img-shadow", src="./assets/images/shadow.webp", loading="lazy")
            </div>
            <div class="div-floater">
                <p class="p-floater-title">Москва</p>
                <div class="div-floater-inner">
                    <p class="p-floater">250k</p>
                    <div class="div-progress" data-progress=0.85>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                img(class="img-shadow", src="./assets/images/shadow.webp", loading="lazy")
            </div>
            <div class="div-floater">
                <p class="p-floater-title">Санкт-Петербург</p>
                <div class="div-floater-inner">
                    <p class="p-floater">200k</p>
                    <div class="div-progress" data-progress=0.75>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                img(class="img-shadow", src="./assets/images/shadow.webp", loading="lazy")
            </div>
            <div class="div-floater">
                <p class="p-floater-title">Екатеринбург</p>
                <div class="div-floater-inner">
                    <p class="p-floater">125k</p>
                    <div class="div-progress" data-progress=0.75>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                img(class="img-shadow", src="./assets/images/shadow.webp", loading="lazy")
            </div>
            <div class="div-floater">
                <p class="p-floater-title">Челябинск</p>
                <div class="div-floater-inner">
                    <p class="p-floater">50k</p>
                    <div class="div-progress" data-progress=0.4>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                img(class="img-shadow", src="./assets/images/shadow.webp", loading="lazy")
            </div>
            <div class="div-floater">
                <p class="p-floater-title">Казань</p>
                <div class="div-floater-inner">
                    <p class="p-floater">75k</p>
                    <div class="div-progress" data-progress=0.4>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                img(class="img-shadow", src="./assets/images/shadow.webp", loading="lazy")
            </div>
            <div class="div-floater">
                <p class="p-floater-title">Нижний Новгород</p>
                <div class="div-floater-inner">
                    <p class="p-floater">85k</p>
                    <div class="div-progress" data-progress=0.55>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                img(class="img-shadow", src="./assets/images/shadow.webp", loading="lazy")
            </div>
            <div class="div-floater">
                <p class="p-floater-title">Красноярск</p>
                <div class="div-floater-inner">
                    <p class="p-floater">45k</p>
                    <div class="div-progress" data-progress=0.3>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                img(class="img-shadow", src="./assets/images/shadow.webp", loading="lazy")
            </div>




            img(
                class="img-pillars",
                src="./assets/images/pillars.webp", 
                loading="lazy"
            )
        </div>
        <div class="div-people">
            <p class="p-people">05</p>
            <p class="p-people-text"><span class="span-word">Человек</span> стали потенциальными клиентами наших выпускников с момента, как вы зашли на сайт</p>
            <div class="div-timer">
                <p class="p-timer">
                    img(
                        class="img-icon-clock"
                        src="./assets/images/timer.svg"
                        loading="lazy"
                    )
                    | <span>00:00</span>
                </p>
                <picture>
                    <source srcset="./assets/images/people--mobile.svg" media="(width <= 600px)" />
                    <img class="img-people" src="./assets/images/people.svg" loading="lazy"/>
                </picture>
            </div>
        </div>
        <div class="div-gradient-blur">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </section>
</html>

script.
    /**
     * PEOPLE COUNTER
     */

    let timerSeconds = 0;

    const timerElement = document.querySelector('#wordstat .p-timer span');
    const spanWord = document.querySelector('#wordstat .span-word');

    function updateTimer() {
        timerSeconds++;
        const minutes = String(Math.floor(timerSeconds / 60)).padStart(2, '0');
        const seconds = String(timerSeconds % 60).padStart(2, '0');
        timerElement.textContent = `${minutes}:${seconds}`;
    }

    setInterval(updateTimer, 1000);

    let peopleCount = 5;
    const peopleElement = document.querySelector('#wordstat .p-people');

    function pluralizePeople(n) {
        n = Math.abs(n);
        const lastTwo = n % 100;
        const last = n % 10;

        if (lastTwo > 10 && lastTwo < 20) return 'Человек';
        if (last === 1) return 'Человек';
        if (last >= 2 && last <= 4) return 'Человека';
        return 'Человек';
    }

    function updatePeople() {
        peopleCount++;
        peopleCount = peopleCount >= 99 ? 99 : peopleCount;
        peopleElement.textContent = String(peopleCount).padStart(2, '0');
        spanWord.innerText = pluralizePeople(peopleCount);
    }

    setInterval(updatePeople, 3000);


    /**
     * ANIMATION
     */

    const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
        if (entry.isIntersecting) {
            const el = entry.target;
            const progress = el.getAttribute('data-progress');
            el.style.setProperty('--progress', progress);
        }
    });
    }, {
        threshold: 0.1
    });

    document.querySelectorAll('.div-progress').forEach(el => {
        observer.observe(el);
    });
